In [ ]:
fruits = ['Banana','Watermelon','Kiwi','Papaya','Pineapple']
print(fruits[0])
 
#Using negative sign we can start our list from the end

print(fruits[-1].upper())
print("My fav fruit is " + fruits[1] +".")

In [ ]:
fruits = ['Banana','Watermelon','Kiwi','Papaya','Pineapple']

#Adding new elements in list

fruits.append('Grapes')
print(fruits)

In [ ]:
fruits = ['Banana','Watermelon','Kiwi','Papaya','Pineapple']

#Adding multiple values in list

fruits2 = ['Grapes','Chiku']
for f in fruits2:
    fruits.append(f)    
print(fruits)

In [ ]:
bikes = ['ktm','bmw','yamaha','honda']

#Inserting elements in list

bikes.insert(0,'suzuki')
print(bikes)

#Deleting elements from a list

del bikes[1]
print(bikes)

#Remove a element from list

bikes.remove('honda')
print(bikes)

#Removing multiple elements

too_expen = ('bmw','yamaha')
for i in too_expen:
    bikes.remove(i)
print(bikes)

In [ ]:
bikes = ['ktm','bmw','yamaha','honda']
bikes.pop(2)
print(bikes)

In [ ]:
bikes = ['ktm','bmw','yamaha','honda']

#Sorting in alphabetical order A-Z permanently

bikes.sort()
print(bikes)

#Sorting in alphabetical order Z-A parmanently

bikes.sort(reverse=True)
print(bikes)

In [ ]:
bikes = ['ktm','bmw','yamaha','honda']

#Sorting list temporalily

print(sorted(bikes),"\n")
print(sorted(bikes,reverse=True), "\n")
print(bikes)

#Permanently Reversing list

bikes.reverse()
print(bikes)

In [ ]:
bikes = ['ktm','bmw','yamaha','honda']

#Length of List

len(bikes)
print(bikes[3])

In [35]:
value = []
for i in range(1,11):
    value.append(i**2)
print(value)

#List Comprihension

value = [i**2 for i in range(1,11)]
print(value)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
for i in range(1,21):
    print(i,end =" ")
print("\n")
for j in range(3,21,2):
    print(j,end = " ")
print("\n")
table = [i*3 for i in range(1,11)]
print(table)
print ("\n")
cube = [k**3 for k in range(1,11)]
print(cube)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

3 5 7 9 11 13 15 17 19

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]


[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [34]:
#List function to create new List
ls = list(input())
print(ls)

1234556
['1', '2', '3', '4', '5', '5', '6']

In [24]:
digits = [1,2,3,4,5,6,7,8,9,0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

In [13]:
#Sliceing
players = ["vrajesh", "chirag", "vivek", "rudra","harsh","nikkkhil"]
print(players[:3])
print(players[2:5])
print(players[2:])
print(players[-3:])
for i in players[:4]:
    print(i.title())

['vrajesh', 'chirag', 'vivek']
['vivek', 'rudra', 'harsh']
['vivek', 'rudra', 'harsh', 'nikkkhil']
['rudra', 'harsh', 'nikkkhil']
Vrajesh
Chirag
Vivek
Rudra

In [16]:
#Copying List
pizza = ["Corn", "Margreta","Veggie","Chesse burst"]
friends_Pizza = pizza[:]
friends_Pizza.append("pineapple")
print(pizza)
print(friends_Pizza)

['Corn', 'Margreta', 'Veggie', 'Chesse burst']
['Corn', 'Margreta', 'Veggie', 'Chesse burst', 'pineapple']

In [22]:
#tuples are unchangeable where as list are changeable
dimensions = (200,50)
print(dimensions)
dimensions = (400,100)
print(dimensions)

(200, 50)
(400, 100)